.footer {
    width: 100%;
    margin-top: $spacing-160;

    .footer {
        &__grid {
            gap: $spacing-40 $spacing-16;
        }

        &__pages,
        &__connect {
            @include noselect;

            ul {
                gap: $spacing-4;
                
                li {
                    a { 
                        text-decoration: none; 
                        margin-left: 0; 
                    }
                }
            }
        }

        &__quote {
            blockquote {
                margin-top: $spacing-32;
                transform: translate(0);
                border-left: 2px solid var(--color-border);
                padding-left: $spacing-16;

                p { 
                    @include Paragraph($spacing: false);

                    @include mobile(min) { max-width: 80%; }
                }
                cite { @include Paragraph($muted: true); }
            }
        }

        &__copyright {
            @include noselect;

            p {
                margin-top: 0;

                &:first-child {
                    display: inline-block;
                }
            }
        }

        &__pride {
            margin-top: 0;
            display: inline-block;
            margin-left: $spacing-4;
            transform: translate(0, 1px);
        }

        &__legals {
            display: flex;
            @include noselect;

            @include mobile(min) {
                justify-content: flex-end;
            }

            ul {
                flex-direction: row;
                gap: $spacing-16;

                li {
                    a { text-decoration: none; }
                }
            }
        }
    }
}