@mixin mobile($minmax: max) {
    @media screen and (#{$minmax}-width: 835px) { @content; }
}

@mixin dark {
    @media screen and (prefers-color-scheme: dark) { @content; }
}

@mixin noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}