// @font-face {
//     font-family: 'FH Oscar';
//     src: url('/typefaces/fh-oscar/FHOscar-Regular.otf');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'FH Oscar';
//     src: url('/typefaces/fh-oscar/FHOscar-Bold.otf');
//     font-weight: 600;
//     font-style: normal;
// }
@font-face {
    font-family: 'Favorit';
    src: url('/typefaces/favorit/Favorit-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Favorit';
    src: url('/typefaces/favorit/Favorit-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

// $type-sans: 'FH Oscar', sans-serif;
$type-sans: 'Favorit', sans-serif;
// $type-sans: 'Klaus', sans-serif;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-6: 0.375rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-64: 4rem;
$spacing-80: 5rem;
$spacing-128: 8rem;
$spacing-160: 10rem;
$spacing-240: 15rem;


$color-foreground: #010005;
$color-grey: #696969;
$color-border: #E6E6E6;
$color-red: #F30B0B;
$color-background: #f7f7f7;
$color-white: #f7f7f7;
$color-black: #010005;

$radius-outer: 12px;
$radius-inner: $radius-outer / 2;
// CSS VARIABLES
:root {
    --type-sans: #{$type-sans};

    --color-foreground: #{$color-foreground};
    --color-grey: #{$color-grey};
    --color-red: #{$color-red};
    --color-background: #{$color-background};
    --color-border: #{$color-border};
    
    --color-white: #{$color-white};
    --color-black: #{$color-black};
    
    @include dark {
        --color-foreground: #dadada;
        --color-background: #010101;
        --color-grey: #808080;
        --color-border: #222222;
    }

    --radius-outer: #{$radius-outer};
    --radius-inner: #{$radius-inner};
}
