{{ define "customclasses" }}template--project{{ end }}

{{ define "main" }}
<r-grid class="header" columns="12">
    <r-cell span-s="row" span="4-10" span-l="4+6" class="Title" data-emergence>
        <h1>{{ .Title }}{{ with .Params.Date }} · {{ dateFormat "2006" . }}{{ end }}</h1>
        {{ if not .Params.Intro }}
        {{ with .Description }}<p class="--Primary">{{ . }}</p>{{ end }}
        {{ else }}
        <p class="--Primary">{{ .Params.Intro | safeHTML }}</p>
        {{ end }}

        {{ with .Params.link }}
            <a href="{{ . }}" class="button --primary" target="_blank">Visit published site</a>
        {{ end }}
        
        {{/*  {{ if .Params.team }}
        <div class="team">
            {{ range $member := .Params.team }}
            <a href="{{ with $member.url }}{{ . }}{{ end }}" target="_blank" class="Member">
                {{ if $member.avatar }}
                <figure class="Avatar"><img src="{{ $member.avatar }}"></figure>{{ else }}
                <figure class="Avatar --Dummy"><img src="https://unavatar.io/fallback.png"></figure>
                {{ end }}
                <span class="Name">{{ $member.name }}</span>
            </a>
            {{ end }}
        </div>
        {{ end }}  */}}
    </r-cell>
</r-grid>

<r-grid class="Content" columns="12">
    {{/*  {{ if not (eq .Params.og false) }}
    <r-cell span-s="row" span="2-11" data-emergence>
        <figure><img src="{{ .Site.BaseURL }}images/{{ .Section }}/{{ .File.TranslationBaseName }}/og.png"></figure>
    </r-cell>
    {{ end }}  */}}

    {{ .Content }}
</r-grid>

{{ end }}