<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}
        {{ .Site.Title }}
    {{ else }}
        {{ .Page.Title }} · {{ .Site.Title }}
    {{ end }}</title>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}raster/raster.grid.css">
    {{ $stylesheet := resources.Get "scss/base.scss" | resources.ToCSS "base.css" }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">

    <meta property="og:image" content="https://linusrogge.com/images/og.png">
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta name="og:description" content="Hamburg based Software Designer">
    <meta name="description" content="Hamburg based Software Designer">

    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Page.Title }}{{ else }}{{ .Page.Title }}, {{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="Hamburg based Software Designer">
    <meta name="twitter:image" content="https://linusrogge.com/images/og.png">
    <meta name="twitter:card" content="{{ with .Page.Params.twitterCard }}{{ . }}{{ else }}summary{{ end }}">

    <script src="{{ .Site.BaseURL }}js/SwupScrollPlugin.min.js"></script> 
    <script src="{{ .Site.BaseURL }}js/SwupPreloadPlugin.min.js"></script> 
    <script src="https://unpkg.com/swup@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
</head>
<body>
    {{ partial "navigation" . }}

    <main class="main transition-fade {{ block "customclasses" . }}{{ end }}{{ with .Params.Customclasses }} {{ . }}{{ end }}" id="main">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer" . }}

    <script src="{{ .Site.BaseURL }}js/base.js"></script>
</body>
</html>
