<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}
        {{ .Site.Title }}
    {{ else }}
        {{ .Page.Title }} · {{ .Site.Title }}
    {{ end }}</title>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}raster/raster.grid.css">
    {{ $stylesheet := resources.Get "scss/base.scss" | resources.ToCSS "base.css" }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">

    <script src="{{ .Site.BaseURL }}js/SwupScrollPlugin.min.js"></script> 
    <script src="{{ .Site.BaseURL }}js/SwupPreloadPlugin.min.js"></script> 
    <script src="https://unpkg.com/swup@3"></script>
</head>
<body>
    {{ partial "navigation" . }}

    <main class="main transition-fade {{ block "customclasses" . }}{{ end }}" id="main">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer" . }}

    <script src="{{ .Site.BaseURL }}js/base.js"></script>
</body>
</html>
