.template--timeline {
    .timeline {
        &__item {
            position: relative;
            padding-top: $spacing-24;
            padding-bottom: $spacing-160;

            @include mobile {
                padding-top: $spacing-16;
                padding-bottom: $spacing-128;
                gap: $spacing-32;
            }

            .anchor {
                top: calc(var(--navigation-height) * -1);
                position: absolute;
            }

            &.--important {
                p {
                    color: var(--color-red);

                    &::selection {
                        background-color: rgba($color-red, 0.1);

                        @include dark {
                            background-color: rgba($color-red, 0.3);
                        }
                    }
                }

                blockquote {
                    border-left-color: rgba($color-red, 0.2);

                    cite, em {
                        color: var(--color-red);
                        opacity: 0.6;
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: $spacing-32;
                height: 1px;
                width: calc(100% - #{$spacing-64});
                background: var(--color-border);
                
                @include mobile {
                    left: $spacing-16;
                    width: calc(100% - #{$spacing-32});
                }
            }

            &.--now {
                padding-bottom: $spacing-160;

                &::before {
                    background: var(--color-red);
                    opacity: 0.1;
                }

                & * {
                    color: var(--color-red) !important;
                    border-color: rgba($color-red, 0.1);
                }

                date {
                    display: inline-block;
                    margin-top: $spacing-64;
                    opacity: 0.6;
                }
            }

            &__meta {
                @include mobile(min) {
                    align-self: flex-start;
                    position: sticky;
                    top: calc(var(--navigation-height) + #{$spacing-24});
                }
                
                h3 {
                    margin-bottom: $spacing-8;
                }

                date {
                    display: block;
                    margin-top: 0;
                }

                .connections {
                    li {
                        // padding-left: $spacing-24;
                        position: relative;

                        a {
                            display: inline-flex;
                            flex-direction: column;
                            white-space: pre-line;
                            text-decoration: none;
                            margin-left: 0;

                            .title {
                                text-decoration: underline;
                                text-underline-offset: 2px;
                            }

                            &:hover {
                                .title { text-decoration: none; }
                            }

                            .description {
                                color: var(--color-grey);
                            }
                        }

                        // &::before {
                        //     content: '';
                        //     width: 10px;
                        //     height: 8px;
                        //     background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 0V3V3.5H1H5.79289L4.64645 4.64645L5.35355 5.35355L7.35355 3.35355L7.70711 3L7.35355 2.64645L5.35355 0.646447L4.64645 1.35355L5.79289 2.5H1.5V0H0.5Z' fill='%23" + str-replace(#{$color-foreground}, '#', '') + "'/%3E%3C/svg%3E%0A");
                        //     background-repeat: no-repeat no-repeat;
                        //     background-position: center center;
                        //     background-size: cover;
                        //     position: absolute;
                        //     left: 2px;
                        //     top: 9px;
                        // }
                        // @include dark {
                        //     &::before {
                        //         content: '';
                        //         width: 10px;
                        //         height: 8px;
                        //         background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 0V3V3.5H1H5.79289L4.64645 4.64645L5.35355 5.35355L7.35355 3.35355L7.70711 3L7.35355 2.64645L5.35355 0.646447L4.64645 1.35355L5.79289 2.5H1.5V0H0.5Z' fill='%23" + str-replace(#{$color-white}, '#', '') + "'/%3E%3C/svg%3E%0A");
                        //         background-repeat: no-repeat no-repeat;
                        //         background-position: center center;
                        //         background-size: cover;
                        //         position: absolute;
                        //         left: 0;
                        //         top: 9px;
                        //     }
                        // }
                    }
                }
            }

            &__description {
                margin-bottom: $spacing-32;
            }

            &__cover {
                margin-top: 0;
                margin-bottom: $spacing-32;

                & + *:not(em) { margin-top: 0; }
            }

            p {
                & + blockquote { margin-top: $spacing-32; }
            }

            hr {
                height: 48px;
            }

            blockquote {
                margin: 0;

                blockquote {
                    transform: translate(0);
                    border-left: 0;
                    padding-left: 0;
                }

                & + p { margin-top: $spacing-32; }

                & + blockquote { 
                    margin-top: 0; 

                    p { padding-top: $spacing-12; }
                }
            }

            .song {
                display: grid;
                grid-template-columns: 128px minmax(0, 1fr);
                align-items: flex-start;
                gap: $spacing-16;
                border-radius: var(--radius-outer);
                padding: $spacing-12;
                border: 1px solid var(--color-border);

                @include mobile {
                    grid-template-columns: 80px minmax(0, 1fr);
                }

                &__cover {
                    position: relative;
                    border-radius: var(--radius-inner);
                    overflow: hidden;
                    box-shadow: 0 8px 8px rgba($color-black, 0.08);
                    flex-shrink: 0;
                    grid-row: span 2;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        border: 1px solid rgba($color-black, 0.1);
                        border-radius: var(--radius-inner);
                    }
                }

                &__information {
                    padding: $spacing-8 0 0;
                    display: flex;
                    flex-direction: column;
                }

                &__title { @include Paragraph($spacing: false); }
                &__artist { @include Paragraph($muted: true, $spacing: false); }

                &__links {
                    align-self: flex-end;
                    grid-column: 2;
                    
                    @include mobile {
                        grid-column: span 2;
                    }
                }

                & + * { margin-top: $spacing-24; }
                & + .song { margin-top: $spacing-8;}
            }

            * + .messages { margin-top: $spacing-32; }

            .messages {
                display: flex;
                flex-direction: column;
                gap: $spacing-16;

                & + * { margin-top: $spacing-64; }

                .message {
                    width: 100%;
                    
                    &__inner {
                        display: flex;
                        align-items: flex-end;
                        gap: $spacing-8;
                    }

                    &:not(.--self) {
                        .message__inner {
                            flex-direction: row-reverse;
                        }
                    }

                    &.--thread {
                        margin-top: -$spacing-6;
                    }

                    &__avatar {
                        @include Link(default);
                        position: relative;
                        width: 24px;
                        height: 24px;
                        overflow: hidden;
                        border-radius: 50%;
                        box-shadow: inset 0 0 0 1px rgba($color-grey, 0.1);
                        flex-shrink: 0;

                        &.--hidden { opacity: 0; }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: relative;
                            z-index: -1;
                        }
                    }

                    &__text {
                        background: var(--color-background);
                        border: 1px solid var(--color-border);
                        border-radius: var(--radius-inner);
                        padding: $spacing-8 $spacing-12;
                        max-width: 85%;

                        @include mobile(min) {
                            max-width: 75%;
                        }
                    }

                    &__meta {
                        display: block;
                        margin-bottom: $spacing-8;
                        @include Paragraph($muted: true);
                    }
                }
            }

            .tweets {
                .tweet {
                    @include Link(default);
                    text-decoration: none;
                    white-space: unset;
                    background: var(--color-background);
                    border: 1px solid var(--color-border);
                    border-radius: var(--radius-inner);
                    padding: $spacing-8 $spacing-12;
                    z-index: 1;

                    &__text {
                        margin-bottom: $spacing-24;
                        @include Paragraph;
                    }

                    &__meta {
                        position: relative;
                        display: flex;
                        gap: $spacing-24;
                    }

                    &__avatar {
                        position: relative;
                        width: 48px;
                        height: 48px;
                        overflow: hidden;
                        border-radius: 50%;
                        box-shadow: inset 0 0 0 1px rgba($color-grey, 0.1);
                        flex-shrink: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            position: relative;
                            z-index: -1;
                        }
                    }

                    &__logo {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        overflow: hidden;
                        border-radius: 50%;
                        box-shadow: inset 0 0 0 1px rgba($color-grey, 0.1);
                        flex-shrink: 0;
                        bottom: 0;
                        left: 0;
                        transform: translate(calc(48px - 55%), 0);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--color-white);

                        img {
                            width: 60%;
                            height: 60%;
                            position: relative;
                            z-index: -1;
                            transform: translate(0.5px, 0.5px);
                        }
                    }

                    &__author {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        &__username {
                            color: var(--color-grey);
                        }
                    }
                }
            }

            .palette {
                display: grid;
                grid-template-columns: repeat(auto-fill, 80px);
                gap: $spacing-8;
                
                .color {
                    position: relative;
                    background: var(--background);
                    height: 80px;
                    width: 80px;
                    border-radius: var(--radius-inner);
                    border: 1px solid transparent;
                    cursor: pointer;

                    &.--border {
                        border-color: var(--color-border);

                        @include dark {
                            &-dark {
                                border-color: var(--color-border);
                            }
                        }
                    }

                    &__tooltip {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        padding-top: $spacing-8;
                        transform: translate(-50%, calc(100% + #{$spacing-8}));
                        opacity: 0;
                        transition: 150ms ease;
                        z-index: 2;
                        
                        &__inner {
                            padding: $spacing-8 $spacing-8 $spacing-4;
                            border-radius: var(--radius-inner);
                            background: var(--color-background);
                            border: 1px solid var(--color-border);
                            line-height: 1;
                            text-transform: uppercase;
                        }
                    }

                    &:hover {
                        .color__tooltip {
                            transform: translate(-50%, 100%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}