.template--work {
    .header {
        &__years {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-24;

            a {
                position: relative;

                &:not(:last-child) {
                    &::after {
                        content: '·';
                        position: absolute;
                        top: 50%;
                        right: -50%;
                        transform: translate(-100%, calc(-50% - 1px));
                    }
                }
            }
        }
    }

    .group {
        position: relative;
        gap: 0 $spacing-16;

        padding-top: var(--navigation-height);
        margin-top: calc(var(--navigation-height) * -1);

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                z-index: 20 - $i;
            }
        }

        &__year {
            align-self: flex-start;
            position: sticky;
            top: calc(var(--navigation-height) + #{$spacing-32});
            
            @include mobile {
                justify-self: flex-start;
                z-index: 89;
                display: inline-block;
                background: var(--color-border);
                border-radius: var(--radius-inner);
                padding: $spacing-2 $spacing-8;
                top: calc(var(--navigation-height) + #{$spacing-16});
            }

            @include mobile {
                & + .project {
                    margin-top: $spacing-40;
                }
            }
        }

        .--divider {
            margin-bottom: $spacing-24;
        }
    }

    .project {
        & + .project { margin-top: $spacing-80; }

        a { 
            @include Link(box);
            text-decoration: none;
            display: block;
            white-space: unset;

            &::before {
                height: calc(100% + #{$spacing-24});
                width: calc(100% + #{$spacing-24});
                border-radius: var(--radius-outer);
                transform: translate(-50%, calc(-50% + 1px)) scale(0.98);
                z-index: -1;
            }

            &:hover {
                .project {
                    &__image {
                        border-color: var(--color-background);
                    }
                }
            }
        }

        &__information {
            margin-bottom: $spacing-16;
        }

        &__title {
            margin-bottom: $spacing-8;
        }

        &__description {
            color: var(--color-grey);
            max-width: 80%;
        }

        &__image {
            display: flex;
            border: 1px solid var(--color-border);
            border-radius: var(--radius-inner);
            background: var(--color-background);
        }
    }
}