{{ define "customclasses" }}template--timeline{{ end }}

{{ define "main" }}
{{ $entries := where .Site.RegularPages "Section" .Section }}

<r-grid columns-s="4" columns="12" class="header">
    <r-cell span-s="row" span="4+6">
        <h1>Timeline</h1>
        <p class="--muted">{{ range last 1 $entries }}{{ dateFormat "January 2006" .Params.Date }}{{ end }} – {{ range first 1 $entries }}{{ dateFormat "January 2006" .Params.Date }}{{ end }}</p>
    </r-cell>
</r-grid>

{{ range $entries }}
<r-grid columns-s="4" columns="12" class="timeline__item{{ if .Params.Important }} --important{{ end }}">
    <div class="anchor" id="{{ .File.TranslationBaseName }}"></div>
    <r-cell span-s="row" span="3" class="timeline__item__meta">
        <date>{{ dateFormat "Monday · January 2, 2006" .Params.Date }}</date>

        {{ if .Params.Relations }}
        <h3>Relations</h3>
        <ul class="relations --ghost">
            {{ range $relation := .Params.Relations }}
            <li>
                <a href="{{ $relation.url }}">
                    <span class="title">{{ $relation.title }}</span>
                    <span class="description">{{ $relation.platform }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </r-cell>
    <r-cell span-s="row" span="5">
        {{ with .Title }}<h2 class="timeline__item__title">{{ . }}</h2>{{ end }}
        {{ with .Description }}<p class="timeline__item__description">{{ . }}</p>{{ end }}
        {{ if and .Params.Cover (not .Params.HideCover) }}<img data-src="{{ .Site.BaseURL }}{{ .Params.Cover }}" class="timeline__item__cover --lazy">{{ end }}

        {{ if .Params.songs }}
            {{ range $song := .Params.songs }}
                <div class="song">
                    <div class="song__cover">
                        <img src="{{ $song.cover }}">
                    </div>
                    
                    <div class="song__information">
                        <span class="song__title">{{ $song.title }}</span>
                        <span class="song__artist">{{ $song.artist }}</span>
                    </div>

                    {{ if or $song.applemusic $song.spotify }}
                    <div class="song__links">
                        {{ with $song.applemusic }}
                        <a href="{{ . }}" class="button --secondary" target="_blank">Apple Music</a>
                        {{ end }}
                        {{ with $song.spotify }}
                        <a href="{{ . }}" class="button --secondary" target="_blank">Spotify</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            {{ end }}

            {{ .Content | safeHTML }}
        {{ else if .Params.messages }}
            {{ if not .Params.messagesAfterContent }}{{ .Content | safeHTML }}{{ end }}

            <div class="messages">
                {{ range $message := .Params.messages }}
                    <div class="message{{ if eq $message.author.name "Linus" }} --self{{ end }}{{ if $message.thread }} --thread{{ end }}">
                        <div class="message__inner">
                            <a href="{{ $message.author.url }}" target="_blank" class="message__avatar{{ if not $message.author.avatar }} --hidden{{ end }}"><img src="{{ $message.author.avatar }}"></a>
                            <div class="message__text">
                                {{ if not $message.thread }}<span class="message__meta">{{ $message.author.name }} at {{ $message.timestamp }}</span>{{ end }}
                                {{ $message.text | safeHTML }}
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>

            {{ if .Params.messagesAfterContent }}{{ .Content | safeHTML }}{{ end }}
        {{ else }}
            {{ if eq .Params.Crop false }}
                {{ .Content | safeHTML }}
            {{ else }}
                {{ .Content | safeHTML | truncate 400 }}
                {{ if .Truncated }}
                <a href="{{ .RelPermalink }}" class="button">Read more</a>
                {{ end }}
            {{ end }}
        {{ end }}
    </r-cell>
</r-grid>
{{ end }}
{{ end }}