<footer class="footer transition-fade">
    <r-grid columns-s="4" columns="12" class="footer__grid">
        <r-cell span-s="row" span="4+6" class="--divider"></r-cell>
        <r-cell span-s="1+2" span="4+3" class="footer__pages">
            <h2>Pages</h2>
            <ul class="--ghost">
                {{ range .Site.Menus.footer }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </r-cell>
        <r-cell span-s="2" span="3" class="footer__connect">
            <h2>Connect</h2>
            <ul class="--ghost">
                {{ range .Site.Menus.socials }}
                    <li>
                        <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </r-cell>
        <r-cell span-s="row" span="4+6" class="footer__quote">
            <blockquote>
                <p></p>
                <cite></cite>
            </blockquote>
        </r-cell>
        <r-cell span-s="row" span="4+6" class="--divider --dotted"></r-cell>
        <r-cell span-s="row" span="4+3" class="footer__copyright">
            <p>&copy;2023 Linus Rogge</p>
            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="footer__pride">
                <g clip-path="url(#clip0_708_276)">
                <rect width="16" height="2" fill="#DA1F10"/>
                <rect y="2" width="16" height="2" fill="#E89B41"/>
                <rect y="4" width="16" height="2" fill="#FCDC5A"/>
                <rect y="6" width="16" height="2" fill="#58BD38"/>
                <rect y="8" width="16" height="2" fill="#4150F5"/>
                <rect y="10" width="16" height="2" fill="#80189E"/>
                </g>
                <rect x="0.25" y="0.25" width="15.5" height="11.5" rx="0.75" stroke="black" stroke-opacity="0.12" stroke-width="0.5"/>
                <defs>
                <clipPath id="clip0_708_276">
                <rect width="16" height="12" rx="1" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                
                
            <p class="--muted">All rights reserved. All wrongs reserved, too.</p>
        </r-cell>
        <r-cell span-s="row" span="3" class="footer__legals">
            <ul class="--ghost">
                {{ range .Site.Menus.legals }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}   
            </ul>
        </r-cell>
    </r-grid>
</footer>