{{ define "customclasses" }}template--work{{ end }}

{{ define "main" }}
<r-grid columns-s="4" columns="12">
    <r-cell span-s="row" span="4+5">
        <p class="time --muted">09.41 local time</p>
        <p>
            Hamburg-based product designer creating thoughtful interfaces at <a href="http://studiolenzing.com" target="_blank" class="--nowrap"><span class="avatar"><img src="https://unavatar.io/studiolenzing.com"></span>Studio Lenzing</a>. Sporadically I also take on freelance projects.
        </p>
        <p>
            I like to get lost in <a href="https://imgs.so/linusrogge">photography</a>, writing, tasty food and chai latte, but also piano music and profound conversations.
        </p>
        <a href="/about" class="button --primary">Learn more</a>
    </r-cell>

    <r-cell span-s="row" span="1+3">
        <h2>Recent work</h2>
    </r-cell>
    {{ range first 1 (where .Site.RegularPages "Section" "work") }}
    <r-cell span-s="row" span="4+6" class="--inline-mobile">
        <div class="project">
            <a href="{{ .RelPermalink }}">
                <div class="project__information">
                    <h2 class="project__title">{{ .Title}}</h2>
                    {{ with .Params.Intro }}<p class="project__description">{{ . }}</p>{{ end }}
                </div>
                <figure class="project__image">
                    <img src="{{ .Site.BaseURL }}images/{{ .Section }}/{{ .File.TranslationBaseName }}/og.png">
                </figure>
            </a>
        </div>

        <a href="{{ .Site.BaseURL }}work" class="button">See all projects</a>
    </r-cell>
    {{ end }}
</r-grid>
{{ end }}