{{ define "main" }}
<r-grid columns-s="4" columns="12">
    <r-cell span-s="row" span="4+5">
        <p>
            Hamburg-based product designer creating thoughtful interfaces, currently at <a href="https://studiolenzing.com" target="_blank">Studio Lenzing</a>. I have previously worked as a freelancer since the start of 2020.
        </p>
        <p>
            I like to get lost in <a href="https://imgs.so/linusrogge">photography</a>, writing, tasty food and chai latte, but also piano music and profound conversations.
        </p>
        <a href="/about" class="button --primary">Learn more</a>
    </r-cell>
</r-grid>
{{ end }}